<div class="filters" *ngIf="form" [formGroup]="form">
  <app-filter [title]="'Sources'" [form]="sources" [filter]="(eventLogService.state$ | async)?.filter?.providerFilter" [controlType]="'checkbox'"></app-filter>
  <app-filter [title]="'Categories'" [form]="tasks" [filter]="(eventLogService.state$ | async)?.filter?.taskFilter" [controlType]="'checkbox'"></app-filter>
  <app-filter [title]="'Event IDs'" [form]="ids" [filter]="(eventLogService.state$ | async)?.filter?.idFilter" [controlType]="'checkbox'"></app-filter>
  <app-filter [title]="'Severity'" [form]="levels" [filter]="(eventLogService.state$ | async)?.filter?.levelFilter" [controlType]="'checkbox'"></app-filter>
  <app-filter [title]="'Description'" [form]="description" [filter]="(eventLogService.state$ | async)?.filter?.descriptionFilter" [controlType]="'textarea'"></app-filter>
  <div class="recent-filters" *ngIf="recentFilters && recentFilters.length">
    <div class="recent-filters-title" *ngIf="recentFilters[0]">Current Filter</div>
    <button title="{{recentFilters[0].readableFilter}}" *ngIf="recentFilters[0]">{{recentFilters[0].readableFilter}}</button>
    <div class="recent-filters-title">Recent Filters</div>
    <button *ngFor="let filter of recentFilters | slice:1"(click)="applySavedFilter(filter.filter)" title="{{filter.readableFilter}}">{{filter.readableFilter}}</button>
  </div>
  <div class="button-div">
    <button (click)="applyCurrentFilter()">Apply Filter</button>
    <button (click)="resetFilter()">Clear Filter</button>
  </div>
</div>