<div class="outer-container">
  <div #detailDiv class="event-detail" [scrollTop]="scrollTop" (wheel)="onWheel($event, detailDiv)">
    <div class="top-section" *ngIf="focusedEvent$ | async as focusedEvent">
      <div class="event-properties">
        <div>Source</div>
        <div>{{focusedEvent.ProviderName}}</div>
        <div>Logged</div>
        <div>{{focusedEvent.TimeCreatedString}}</div>
        <div>Event ID</div>
        <div>{{focusedEvent.Id}}</div>
        <div>Task Category</div>
        <div>{{focusedEvent.TaskName}}</div>
        <div>Level</div>
        <div>{{focusedEvent.LevelName}}</div>
        <div>Keywords</div>
        <div>{{focusedEvent.Keywords}}</div>
        <div>User</div>
        <div>{{focusedEvent.User}}</div>
        <div>Computer</div>
        <div>{{focusedEvent.MachineName}}</div>
        <div>OpCode</div>
        <div>{{focusedEvent.OpcodeName}}</div>
      </div>
      <button class="button" type="button" (click)="copyToClipboard(false)">Copy</button>
      <button class="button" type="button" (click)="copyToClipboard(true)">Copy With Xml</button>
      <button class="button" type="button" (click)="showXml = true" *ngIf="!showXml">Show Xml</button>
      <button class="button" type="button" (click)="showXml = false" *ngIf="showXml">Hide Xml</button>
      <button class="close-button" (click)="close()">X</button>
    </div>
    <div class="event-description" [innerHtml]="description$ | async"></div>
    <pre *ngIf="showXml" lang="xml" class="event-xml">{{eventXml$ | async}}</pre>
  </div>
  <app-scrollbar [rowcount]="detailDiv.scrollHeight" [position]="detailDiv.scrollTop"
    [rowsVisible]="detailDiv.clientHeight" (updatePosition)="onScrollBar($event)"></app-scrollbar>
</div>